# Guided Capstone Step 4. Pre-Processing and Training Data Development

**The Data Science Method**  


1.   Problem Identification 


2.   Data Wrangling 
  
 
3.   Exploratory Data Analysis   

4.   **Pre-processing and Training Data Development**  
 * Create dummy or indicator features for categorical variables
  * Standardize the magnitude of numeric features
  * Split into testing and training datasets
  * Apply scaler to the testing set
5.   Modeling 
  * Fit Models with Training Data Set
  * Review Model Outcomes — Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

**<font color='teal'> Start by loading the necessary packages as we did in step 3 and printing out our current working directory just to confirm we are in the correct project directory. </font>**

In [1]:
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

**<font color='teal'>  Load the csv file you created in step 3, remember it should be saved inside your data subfolder and print the first five rows.</font>**

In [2]:
path = '/Users/hf/Desktop/Step2/data/clusters.csv'
clusters = pd.read_csv(path, index_col=0)
clusters.head()

,Name,state,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,...,LongestRun_mi,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac
0,Alyeska Resort,Alaska,3939,2500,1,0.0,0,2,2,0,...,1.0,1610.0,113.0,150.0,60.0,669.0,65.0,85.0,150.0,550.0
1,Eaglecrest Ski Area,Alaska,2600,1540,0,0.0,0,0,0,0,...,2.0,640.0,60.0,45.0,44.0,350.0,47.0,53.0,90.0,0.0
2,Hilltop Ski Area,Alaska,2090,294,0,0.0,0,0,0,1,...,1.0,30.0,30.0,150.0,36.0,69.0,30.0,34.0,152.0,30.0
3,Arizona Snowbowl,Arizona,11500,2300,0,0.0,1,0,2,2,...,2.0,777.0,104.0,122.0,81.0,260.0,89.0,89.0,122.0,0.0
4,Sunrise Park Resort,Arizona,11100,1800,0,0.0,0,1,2,3,...,1.2,800.0,80.0,115.0,49.0,250.0,74.0,78.0,104.0,80.0

## Create dummy features for categorical variables

**<font color='teal'> Create dummy variables for `state`. Add the dummies back to the dataframe and remove the original column for `state`. </font>**

Hint: you can see an example of how to execute this in Aiden's article on preprocessing [here](https://medium.com/@aiden.dataminer/the-data-science-method-dsm-pre-processing-and-training-data-development-fd2d75182967).

In [32]:
# dfo = clusters.select_dtypes(include=['object'])
# state_dummies = pd.concat([clusters.drop(dfo, axis=1), pd.get_dummies(dfo)], axis=1)

In [3]:
state_dummies = pd.get_dummies(clusters.state, prefix='state')
clusters = pd.concat([clusters, state_dummies], axis=1)
clusters.drop(['state'],axis=1, inplace=True)

In [24]:
clusters.sum() #Need to drop New York ()

Name                    Alyeska ResortEaglecrest Ski AreaHilltop Ski A...
summit_elev                                                       1515300
vertical_drop                                                      401091
trams                                                                  57
fastEight                                                               1
fastSixes                                                              61
fastQuads                                                             336
quad                                                                  308
triple                                                                495
double                                                                605
surface                                                               865
total_chairs                                                         2728
Runs                                                              15937.7
TerrainParks                                                          787
LongestRun_mi                                                      470.44
SkiableTerrain_ac                                                  244134
Snow Making_ac                                                      49664
daysOpenLastYear                                                  37984.3
yearsOpen                                                         18988.7
averageSnowfall                                                   61154.4
AdultWeekday                                                      19112.6
AdultWeekend                                                        21175
projectedDaysOpen                                                 39617.5
NightSkiing_ac                                                      18774
state_Alaska                                                            3
state_Arizona                                                           2
state_California                                                       21
state_Colorado                                                         22
state_Connecticut                                                       5
state_Idaho                                                            12
state_Illinois                                                          4
state_Indiana                                                           2
state_Iowa                                                              3
state_Maine                                                             9
state_Maryland                                                          1
state_Massachusetts                                                    11
state_Michigan                                                         29
state_Minnesota                                                        14
state_Missouri                                                          2
state_Montana                                                          12
state_Nevada                                                            4
state_New Hampshire                                                    16
state_New Jersey                                                        2
state_New Mexico                                                        9
state_North Carolina                                                    6
state_Ohio                                                              5
state_Oregon                                                           10
state_Pennsylvania                                                     19
state_Rhode Island                                                      1
state_South Dakota                                                      2
state_Tennessee                                                         1
state_Utah                                                             13
state_Vermont                                                          15
state_Virginia                                                          4
state_Washington                                                       10
state_West Virginia                                                     4
state_Wisconsin                                                        16
state_Wyoming                                                           8
dtype: object

In [5]:
clusters = clusters.drop(['state_New York'], axis=1)

In [6]:
clusters.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 330 entries, 0 to 329
Data columns (total 58 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name                  330 non-null    object
 1   summit_elev           330 non-null    int64
 2   vertical_drop         330 non-null    int64
 3   trams                 330 non-null    int64
 4   fastEight             330 non-null    float64
 5   fastSixes             330 non-null    int64
 6   fastQuads             330 non-null    int64
 7   quad                  330 non-null    int64
 8   triple                330 non-null    int64
 9   double                330 non-null    int64
 10  surface               330 non-null    int64
 11  total_chairs          330 non-null    int64
 12  Runs                  330 non-null    float64
 13  TerrainParks          330 non-null    float64
 14  LongestRun_mi         330 non-null    float64
 15  SkiableTerrain_ac     330 non-null    float64
 16  Snow Making_ac        330 non-null    float64
 17  daysOpenLastYear      330 non-null    float64
 18  yearsOpen             330 non-null    float64
 19  averageSnowfall       330 non-null    float64
 20  AdultWeekday          330 non-null    float64
 21  AdultWeekend          330 non-null    float64
 22  projectedDaysOpen     330 non-null    float64
 23  NightSkiing_ac        330 non-null    float64
 24  state_Alaska          330 non-null    uint8
 25  state_Arizona         330 non-null    uint8
 26  state_California      330 non-null    uint8
 27  state_Colorado        330 non-null    uint8
 28  state_Connecticut     330 non-null    uint8
 29  state_Idaho           330 non-null    uint8
 30  state_Illinois        330 non-null    uint8
 31  state_Indiana         330 non-null    uint8
 32  state_Iowa            330 non-null    uint8
 33  state_Maine           330 non-null    uint8
 34  state_Maryland        330 non-null    uint8
 35  state_Massachusetts   330 non-null    uint8
 36  state_Michigan        330 non-null    uint8
 37  state_Minnesota       330 non-null    uint8
 38  state_Missouri        330 non-null    uint8
 39  state_Montana         330 non-null    uint8
 40  state_Nevada          330 non-null    uint8
 41  state_New Hampshire   330 non-null    uint8
 42  state_New Jersey      330 non-null    uint8
 43  state_New Mexico      330 non-null    uint8
 44  state_North Carolina  330 non-null    uint8
 45  state_Ohio            330 non-null    uint8
 46  state_Oregon          330 non-null    uint8
 47  state_Pennsylvania    330 non-null    uint8
 48  state_Rhode Island    330 non-null    uint8
 49  state_South Dakota    330 non-null    uint8
 50  state_Tennessee       330 non-null    uint8
 51  state_Utah            330 non-null    uint8
 52  state_Vermont         330 non-null    uint8
 53  state_Virginia        330 non-null    uint8
 54  state_Washington      330 non-null    uint8
 55  state_West Virginia   330 non-null    uint8
 56  state_Wisconsin       330 non-null    uint8
 57  state_Wyoming         330 non-null    uint8
dtypes: float64(13), int64(10), object(1), uint8(34)
memory usage: 75.4+ KB

## Standardize the magnitude of numeric features

**<font color='teal'> Using sklearn preprocessing standardize the scale of the features of the dataframe except the name of the resort which we done't need in the dataframe for modeling, so it can be droppped here as well. Also, we want to hold out our response variable(s) so we can have their true values available for model performance review. Let's set `AdultWeekend` to the y variable as our response for scaling and modeling. Later we will go back and consider the `AdultWeekday`, `dayOpenLastYear`, and `projectedDaysOpen`. For now leave them in the development dataframe. </font>**

In [7]:
# first we import the preprocessing package from the sklearn library
from sklearn import preprocessing

# Declare an explanatory variable, called X,and assign it the result of dropping 'Name' and 'AdultWeekend' from the df
X = clusters.drop(['Name','AdultWeekend'], axis=1)

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y = clusters.AdultWeekend 

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = preprocessing.StandardScaler().fit(X)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled=scaler.transform(X)

## Split into training and testing datasets

**<font color='teal'> Using sklearn model selection import train_test_split, and create a 75/25 split with the y = `AdultWeekend`. We will start by using the adult weekend ticket price as our response variable for modeling.</font>**

In [8]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split

# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()

# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.25, random_state=1)

Here we start the actual modeling work. First let's fit a multiple linear regression model to predict the `AdultWeekend` price.

# Guided Capstone Step 5. Modeling

This is the fifth step in the Data Science Method. In the previous steps you cleaned and prepared the datasets. Now it's time to get into the most exciting part: modeling! In this exercise, you'll build three different models and compare each model's performance. In the end, you'll choose the best model for demonstrating insights to Big Mountain management.



### **The Data Science Method**  


1.   Problem Identification 

2.   Data Wrangling 
  
3.   Exploratory Data Analysis 
 
4.   Pre-processing and Training Data Development

5.   **Modeling**
  * Fit Models with Training Data Set
  * Review Model Outcomes — Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

## Fit Models with a Training Dataset

**<font color='teal'> Using sklearn, fit the model on your training dataset.</font>**

#### Model 1

In [9]:
#all first model set
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

**<font color='teal'> Predict on the testing dataset and score the model performance with the y_test set and the y-pred values. The explained variance is a measure of the variation explained by the model. This is also known as the R-squared value. </font>**

Hint: you will have to use the `predict()` method here as it's used in this [DSM article](https://medium.com/@aiden.dataminer/the-data-science-method-dsm-modeling-56b4233cad1b) about modeling.

In [10]:
# Make a variable called y_pred and assign it the result of calling predict() on our model variable with parameter X_test
y_pred = model.predict(X_test)

## Review Model Outcomes — Iterate over additional models as needed

In [0]:
# You might want to use the explained_variance_score() and mean_absolute_error() metrics.
# To do so, you will need to import them from sklearn.metrics. 
# You can plug y_test and y_pred into the functions to evaluate the model

In [11]:
print(explained_variance_score(y_test, y_pred))
print(mean_absolute_error(y_test, y_pred))

0.9402007639830121
4.917503526700311

**<font color='teal'> Print the intercept value from the linear model. </font>**

Hint: our linear regression model `lm` has an attribute `intercept_` for the intercept

In [12]:
model.intercept_

64.10167764823882

**<font color='teal'> The intercept is the mean `AdultWeekend` price for all the resorts given the other characteristics. The addition or subtraction of each of the coefficient values in the regression are numeric adjustments applied to the intercept to provide a particular observation's value for the resulting `AdultWeekend` value. Also, because we took the time to scale our x values in the training data, we can compare each of the coeeficients for the features to determine the feature importances. Print the coefficient values from the linear model and sort in descending order to identify the top ten most important features.</font>** 


Hint: make sure to review the absolute value of the coefficients, because the adjustment may be positive or negative, but what we are looking for is the magnitude of impact on our response variable.

In [13]:
# You might want to make a pandas DataFrame displaying the coefficients for each state like so: 
coefficients = pd.DataFrame(abs(lm.coef_), X.columns, columns=['Coefficient'])
coefficients = abs(coefficients)

Need to keep the outliers in.  So go back to step 3 and fix.

In [14]:
coefficients.sort_values('Coefficient', ascending=False)

                       Coefficient
total_chairs          6.674736e+13
fastQuads             2.530408e+13
surface               2.370802e+13
double                2.089239e+13
triple                1.863745e+13
quad                  1.510496e+13
fastSixes             7.501407e+12
trams                 6.445417e+12
fastEight             6.336476e+11
AdultWeekday          1.927710e+01
state_Montana         1.865234e+00
state_North Carolina  1.735352e+00
state_California      1.595703e+00
summit_elev           1.521241e+00
state_Idaho           1.470703e+00
state_Massachusetts   1.382324e+00
state_New Hampshire   1.333984e+00
state_New Mexico      1.256836e+00
state_Colorado        1.123047e+00
state_West Virginia   1.083984e+00
state_Tennessee       1.077148e+00
state_Oregon          9.174805e-01
state_Wyoming         9.052734e-01
Snow Making_ac        8.984375e-01
state_Virginia        8.144531e-01
state_Ohio            7.678223e-01
state_Pennsylvania    7.226562e-01
NightSkiing_ac        7.158203e-01
vertical_drop         7.077238e-01
state_Minnesota       6.513672e-01
state_Washington      6.336670e-01
Runs                  6.002398e-01
state_Maryland        5.771484e-01
state_South Dakota    5.600586e-01
state_Connecticut     5.424805e-01
daysOpenLastYear      5.390625e-01
state_Indiana         4.287109e-01
LongestRun_mi         4.121094e-01
state_Iowa            3.862305e-01
yearsOpen             3.339844e-01
state_Arizona         3.150024e-01
state_Alaska          3.007812e-01
state_Missouri        2.939453e-01
state_Vermont         2.851562e-01
state_Nevada          2.695312e-01
state_Utah            2.207031e-01
state_Rhode Island    2.014160e-01
SkiableTerrain_ac     1.855469e-01
state_Maine           1.694336e-01
state_Wisconsin       1.611328e-01
state_Michigan        1.582031e-01
state_New Jersey      7.714844e-02
averageSnowfall       7.031250e-02
TerrainParks          5.761719e-02
projectedDaysOpen     4.882812e-02
state_Illinois        2.343750e-02

**<font color='teal'>You should see that the top ten important features are different states. However, the state is not something the managers at the Big Mountain Resort can do anything about. Given that we care more about actionable traits associated with ticket pricing, rebuild the model without the state features and compare the results. </font>**

Hint: Try to construct another model using exactly the steps we followed above.

#### Model 2

In [15]:
path2 = '/Users/hf/Desktop/Step2/data/step2_output.csv'
clusters2 = pd.read_csv(path2, index_col=0)
clusters2 = clusters2.drop(['state', 'Region'],axis=1)
clusters2.describe()

#fix in step 2 and reoutput csv file

,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,fastQuads,quad,triple,double,...,LongestRun_mi,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac
count,330.000000,330.000000,330.000000,330.000000,330.000000,330.000000,330.000000,330.000000,330.00000,330.000000,...,330.000000,330.000000,330.00000,330.000000,330.000000,330.000000,330.000000,330.000000,330.000000,330.000000
mean,4591.818182,1215.427273,3374.000000,0.172727,0.003030,0.184848,1.018182,0.933333,1.50000,1.833333,...,1.425575,739.801223,150.49697,115.103943,63.656535,185.316456,57.916957,64.166810,120.053004,56.890909
std,3735.535934,947.864557,3117.121621,0.559946,0.055048,0.651685,2.198294,1.312245,1.61913,1.815028,...,1.149240,1807.868079,249.85438,32.231212,109.263494,133.424094,23.898798,22.571324,28.742976,93.464882
min,315.000000,60.000000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,8.000000,0.00000,3.000000,6.000000,18.000000,15.000000,17.000000,30.000000,0.000000
25%,1403.750000,461.250000,869.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1.000000,...,0.600000,85.000000,30.00000,100.000000,50.000000,71.250000,43.000000,49.000000,101.250000,0.000000
50%,3127.500000,964.500000,1561.500000,0.000000,0.000000,0.000000,0.000000,0.000000,1.00000,1.000000,...,1.000000,200.000000,86.00000,115.103943,58.000000,158.000000,57.916957,64.166810,120.053004,27.000000
75%,7806.000000,1800.000000,6325.250000,0.000000,0.000000,0.000000,1.000000,1.000000,2.00000,3.000000,...,2.000000,739.801223,192.00000,130.000000,68.750000,278.750000,67.000000,72.000000,136.000000,83.750000
max,13487.000000,4425.000000,10800.000000,4.000000,1.000000,6.000000,15.000000,8.000000,8.00000,14.000000,...,6.000000,26819.000000,3379.00000,305.000000,2019.000000,669.000000,179.000000,179.000000,305.000000,650.000000

In [32]:
clusters2['SkiableTerrain_ac'] = clusters2['SkiableTerrain_ac'].fillna(clusters2['SkiableTerrain_ac'].mean())

In [16]:
# first we import the preprocessing package from the sklearn library
from sklearn import preprocessing

# Declare an explanatory variable, called X,and assign it the result of dropping 'Name' and 'AdultWeekend' from the df
X = clusters2.drop(['Name','AdultWeekend'], axis=1)

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y = clusters2.AdultWeekend 

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = preprocessing.StandardScaler().fit(X)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled=scaler.transform(X)

In [17]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split

# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()

# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.25, random_state=1)

In [18]:
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

In [19]:
# Make a variable called y_pred and assign it the result of calling predict() on our model variable with parameter X_test
y_pred = model.predict(X_test)

In [20]:
print(explained_variance_score(y_test, y_pred))
print(mean_absolute_error(y_test, y_pred))

0.9227791782161912
5.530047996703767

In [21]:
model.intercept_

64.05707750841475

In [22]:
coefficients = pd.DataFrame(abs(lm.coef_), X.columns, columns=['Coefficient'])
coefficients = abs(coefficients)

In [23]:
coefficients.sort_values('Coefficient', ascending=False)

                   Coefficient
AdultWeekday         20.154710
summit_elev          13.224526
base_elev            10.288109
vertical_drop         4.407238
averageSnowfall       1.862931
quad                  1.488007
triple                1.342863
surface               1.228592
daysOpenLastYear      1.083769
Runs                  0.816344
fastQuads             0.638240
total_chairs          0.609269
Snow Making_ac        0.600109
projectedDaysOpen     0.410260
NightSkiing_ac        0.348985
LongestRun_mi         0.329113
double                0.289979
yearsOpen             0.281170
trams                 0.277086
fastSixes             0.257429
TerrainParks          0.250076
SkiableTerrain_ac     0.167538
fastEight             0.099126

**<font color='teal'> When reviewing our new model coefficients, we see `summit_elev` is now in the number two spot. This is also difficult to change from a management prespective and highly correlated with `base_elev` and `vertical_drop`.  This time, rebuild the model without the state features and without the `summit_elev` and without `base_elev`and compare the results. </font>**

#### Model 3

In [27]:
path3 = '/Users/hf/Desktop/Step2/data/step2_output.csv'
clusters3 = pd.read_csv(path2, index_col=0)
clusters3 = clusters3.drop(['state', 'Region', 'summit_elev', 'base_elev'],axis=1)
clusters3.describe()

,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,double,surface,total_chairs,...,LongestRun_mi,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac
count,330.000000,330.000000,330.000000,330.000000,330.000000,330.000000,330.00000,330.000000,330.000000,330.000000,...,330.000000,330.000000,330.00000,330.000000,330.000000,330.000000,330.000000,330.000000,330.000000,330.000000
mean,1215.427273,0.172727,0.003030,0.184848,1.018182,0.933333,1.50000,1.833333,2.621212,8.266667,...,1.425575,739.801223,150.49697,115.103943,63.656535,185.316456,57.916957,64.166810,120.053004,56.890909
std,947.864557,0.559946,0.055048,0.651685,2.198294,1.312245,1.61913,1.815028,2.059636,5.798683,...,1.149240,1807.868079,249.85438,32.231212,109.263494,133.424094,23.898798,22.571324,28.742976,93.464882
min,60.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,8.000000,0.00000,3.000000,6.000000,18.000000,15.000000,17.000000,30.000000,0.000000
25%,461.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1.000000,1.000000,5.000000,...,0.600000,85.000000,30.00000,100.000000,50.000000,71.250000,43.000000,49.000000,101.250000,0.000000
50%,964.500000,0.000000,0.000000,0.000000,0.000000,0.000000,1.00000,1.000000,2.000000,7.000000,...,1.000000,200.000000,86.00000,115.103943,58.000000,158.000000,57.916957,64.166810,120.053004,27.000000
75%,1800.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2.00000,3.000000,3.000000,10.000000,...,2.000000,739.801223,192.00000,130.000000,68.750000,278.750000,67.000000,72.000000,136.000000,83.750000
max,4425.000000,4.000000,1.000000,6.000000,15.000000,8.000000,8.00000,14.000000,15.000000,41.000000,...,6.000000,26819.000000,3379.00000,305.000000,2019.000000,669.000000,179.000000,179.000000,305.000000,650.000000

In [28]:
# first we import the preprocessing package from the sklearn library
from sklearn import preprocessing

# Declare an explanatory variable, called X,and assign it the result of dropping 'Name' and 'AdultWeekend' from the df
X = clusters3.drop(['Name','AdultWeekend'], axis=1)

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y = clusters3.AdultWeekend 

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = preprocessing.StandardScaler().fit(X)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled=scaler.transform(X)

In [29]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split

# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()

# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.25, random_state=1)

In [30]:
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

In [31]:
# Make a variable called y_pred and assign it the result of calling predict() on our model variable with parameter X_test
y_pred = model.predict(X_test)

In [32]:
print(explained_variance_score(y_test, y_pred))
print(mean_absolute_error(y_test, y_pred))

0.9249290257506738
5.511419813584446

In [33]:
model.intercept_

64.05876160900476

In [34]:
coefficients = pd.DataFrame(abs(lm.coef_), X.columns, columns=['Coefficient'])
coefficients = abs(coefficients)

In [35]:
coefficients.sort_values('Coefficient', ascending=False)

                   Coefficient
AdultWeekday         20.079301
averageSnowfall       2.216884
quad                  1.526674
triple                1.312003
surface               1.208728
Runs                  1.011364
vertical_drop         1.011221
daysOpenLastYear      0.956862
fastQuads             0.719630
total_chairs          0.653290
Snow Making_ac        0.494241
NightSkiing_ac        0.486407
LongestRun_mi         0.313457
yearsOpen             0.301920
double                0.297515
fastSixes             0.259323
trams                 0.257166
SkiableTerrain_ac     0.235488
projectedDaysOpen     0.173060
TerrainParks          0.163382
fastEight             0.057011

## Identify the Final Model

**<font color='teal'> Review the model performances in the table below and choose the best model for proving insights to Big Mountain management about what features are driving ski resort lift ticket prices. Type your choice in the final markdown cell — you will discuss this selection more in the next step of the guided casptone. </font>**

| Model | Explained Variance| Mean Absolute Error|Features Dropped|
| --- | --- | --- | --- |
| Model 1. | 0. |  |-|
| Model 2. | 0.| |'state'|
| Model 3. | 0. | |'state','summit_elev','base_elev'|

Model Selection:

In [0]:
Model 3